In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

In [62]:
data = pd.read_csv('data/train.csv')
test= pd.read_csv('data/test.csv')

In [4]:
test.shape

(418, 11)

In [70]:
data[data['Age'].isnull()].loc[:, 'Age'] = 1

In [67]:
data[data['Age'] == 1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,1.0,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,1.0,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,1.0,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,1.0,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,1.0,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,1.0,0,0,349216,7.8958,NaN,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,1.0,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,1.0,0,0,335677,7.7500,NaN,Q
36,37,1,3,"Mamee, Mr. Hanna",male,1.0,0,0,2677,7.2292,NaN,C
42,43,0,3,"Kraeff, Mr. Theodor",male,1.0,0,0,349253,7.8958,NaN,C
45,46,0,3,"Rogers, Mr. William John",male,1.0,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,1.0,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,1.0,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,1.0,2,0,2662,21.6792,NaN,C
55,56,1,1,"Woolner, Mr. Hugh",male,1.0,0,0,19947,35.5000,C52,S
64,65,0,1,"Stewart, Mr. Albert A",male,1.0,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,1.0,1,1,2661,15.2458,NaN,C
76,77,0,3,"Staneff, Mr. Ivan",male,1.0,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,1.0,0,0,374746,8.0500,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,1.0,0,0,330932,7.7875,NaN,Q
87,88,0,3,"Slocovski, Mr. Selman Francis",male,1.0,0,0,SOTON/OQ 392086,8.0500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,1.0,0,0,374910,8.0500,NaN,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,1.0,0,0,349215,7.8958,NaN,S
107,108,1,3,"Moss, Mr. Albert Johan",male,1.0,0,0,312991,7.7750,NaN,S
109,110,1,3,"Moran, Miss. Bertha",female,1.0,1,0,371110,24.1500,NaN,Q
121,122,0,3,"Moore, Mr. Leonard Charles",male,1.0,0,0,A4. 54510,8.0500,NaN,S
126,127,0,3,"McMahon, Mr. Martin",male,1.0,0,0,370372,7.7500,NaN,Q
128,129,1,3,"Peter, Miss. Anna",female,1.0,1,1,2668,22.3583,F E69,C
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,1.0,0,2,2678,15.2458,NaN,C
154,155,0,3,"Olsen, Mr. Ole Martin",male,1.0,0,0,Fa 265302,7.3125,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
732,733,0,2,"Knight, Mr. Robert J",male,1.0,0,0,239855,0.0000,NaN,S
738,739,0,3,"Ivanoff, Mr. Kanio",male,1.0,0,0,349201,7.8958,NaN,S
739,740,0,3,"Nankoff, Mr. Minko",male,1.0,0,0,349218,7.8958,NaN,S
740,741,1,1,"Hawksford, Mr. Walter James",male,1.0,0,0,16988,30.0000,D45,S
760,761,0,3,"Garfirth, Mr. John",male,1.0,0,0,358585,14.5000,NaN,S
766,767,0,1,"Brewe, Dr. Arthur Jackson",male,1.0,0,0,112379,39.6000,NaN,C
768,769,0,3,"Moran, Mr. Daniel J",male,1.0,1,0,371110,24.1500,NaN,Q
773,774,0,3,"Elias, Mr. Dibo",male,1.0,0,0,2674,7.2250,NaN,C
776,777,0,3,"Tobin, Mr. Roger",male,1.0,0,0,383121,7.7500,F38,Q
778,779,0,3,"Kilgannon, Mr. Thomas J",male,1.0,0,0,36865,7.7375,NaN,Q
783,784,0,3,"Johnston, Mr. Andrew G",male,1.0,1,2,W./C. 6607,23.4500,NaN,S
788,789,1,3,"Dean, Master. Bertram Vere",male,1.0,1,2,C.A. 2315,20.5750,NaN,S
790,791,0,3,"Keane, Mr. Andrew ""Andy""",male,1.0,0,0,12460,7.7500,NaN,Q
792,793,0,3,"Sage, Miss. Stella Anna",female,1.0,8,2,CA. 2343,69.5500,NaN,S
793,794,0,1,"Hoyt, Mr. William Fisher",male,1.0,0,0,PC 17600,30.6958,NaN,C
815,816,0,1,"Fry, Mr. Richard",male,1.0,0,0,112058,0.0000,B102,S
825,826,0,3,"Flynn, Mr. John",male,1.0,0,0,368323,6.9500,NaN,Q
826,827,0,3,"Lam, Mr. Len",male,1.0,0,0,1601,56.4958,NaN,S
827,828,1,2,"Mallet, Master. Andre",male,1.0,0,2,S.C./PARIS 2079,37.0042,NaN,C
828,829,1,3,"McCormack, Mr. Thomas Joseph",male,1.0,0,0,367228,7.7500,NaN,Q
832,833,0,3,"Saad, Mr. Amin",male,1.0,0,0,2671,7.2292,NaN,C
837,838,0,3,"Sirota, Mr. Maurice",male,1.0,0,0,392092,8.0500,NaN,S
839,840,1,1,"Marechal, Mr. Pierre",male,1.0,0,0,11774,29.7000,C47,C
846,847,0,3,"Sage, Mr. Douglas Bullen",male,1.0,8,2,CA. 2343,69.5500,NaN,S
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,1.0,1,0,17453,89.1042,C92,C
859,860,0,3,"Razi, Mr. Raihed",male,1.0,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,1.0,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,1.0,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,1.0,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1.0,1,2,W./C. 6607,23.4500,NaN,S